@charset "UTF-8";
/*
.navbar{background:#23caee;}
.navbar-default .navbar-brand{color:#fff;}
.navbar-default .navbar-nav > li > a{ color:#fff;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{ background:none;}*/
/*.row .post div{ border:1px solid #ccc; margin-bottom:20px;}*/
/*.row .post div img{ margin:10px 0; padding:0;}*/
/* CSS Document */

